.table {
    width: 85%;
    margin: 0 auto !important;
}
table .th{
    text-align: center;
}
div.petNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 99;
  }